<div class="container">
    <h1>게시물 작성</h1>
    <form action="/post/create" method="post">
      title:<br>
      <input type="text" name="title_input" placeholder="제목을 입력하세요"><br>
      content:<br>
      <textarea name="content_input"  cols="40" rows="8">
          아무 것도 안 쓰면
          현재 쓰여진 내용 그대로 들어갑니다.
          <strong>꼭 작성해주세요</strong>
      </textarea><br>
      <input type="submit" value="Submit">
    </form>
</div>